
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins;
}

.banner {
    background: url(../images/hamburger.avif) no-repeat center center/cover;
    width: 100%;
    height: 400px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* filter: brightness(50%); */

}



.banner-text {
    align-content: center;
    color: #ffffff;
    padding-left: 50px;
    background:  linear-gradient(270deg, rgba(217, 217, 217, 0.00) 0%,  rgba(20, 20, 20, 0.30) 47.14%,  rgba(0, 0, 0, 0.60) 100%);
    width: 100%;
    height: 400px;
}

.banner-text>h1{
    font-size: 3rem;
}

.banner-text>p {
    font-size: 0.7rem;
}


.banner-button{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background: #582900;    
    position: relative;
    top: 20px;
}

.banner-button:hover{
transform: scale(1.03) ;
transition: 0.3s;
}


.banner-button>a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bolder;
}

.specialite, .plats{
    justify-items: center;
}

.specialite-text>h2 {
    margin-top: 30px;
    font-size: 3rem;
    color: #646464;
}

.specialite-text>p {
    font-size: 0.8rem;
    text-align: center;
}

.banner2{
    background: url(../images/hamburger-frites.avif) no-repeat center center / cover;
    width: 1350px;
    height: 500px;
    border-radius: 20px;
    justify-self: center;
    align-content: center;
    color: #fff;
    margin-top: 20px;
}

.banner2-text{
    align-content: center;
    padding-left: 50px;
    background:  linear-gradient(270deg, rgba(217, 217, 217, 0.00) 0%,  rgba(20, 20, 20, 0.30) 47.14%,  rgba(0, 0, 0, 0.60) 100%);
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.banner2-text>h3 {
    font-size: 3rem;
}

.banner2-text>p {
    font-size: 0.8rem;
}

.banner2-button{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background: #582900;    
    position: relative;
    top: 20px;
}

.banner2-button:hover{
transform: scale(1.03) ;
transition: 0.3s;
}

.banner2-button>a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bolder;
}

.image-plats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-left: 90px;
    justify-self: center;
    align-content: center;
    gap: 20px;
}

.image-plats>img{
    border-radius: 20px;
}

.image-plats>img:hover{
    transform: scale(1.02) ;
    transition: 0.3s;
}



.plats-text>h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
    color: #646464;
}

.plats-text>p {
    font-size: 0.8rem;
    text-align: center;
}

.plats-galerie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.cards1 {
    width: 300px;
    height: 420px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background:  linear-gradient(270deg, rgba(0, 0, 0, 0.80) 0%,  rgba(0, 0, 0, 1) 100%);
}


.plats-picts {
    justify-items: center;
}

.plats-picts>img {
    width: 230px;
}

.plats-picts>img:hover {
    transform: scale(1.09) ;
    transition: 0.3s;
}

.plats-picts>h2 {
    font-size: 1.7rem;
    color: #fff;
}
.plats-picts>p {
    font-size: 0.8rem;
    color: #fff;
}

.compar-button {
    border: none;
    background: #582900;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin-top: 20px;
}

.compar-button:hover{
    transform: scale(1.05) ;
    transition: 0.3s;
}



.compar-button>a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.cards2 {
    width: 300px;
    height: 420px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.cards2-1 {
    width: 300px;
    height: 420px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: #582900;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    
}



.plats-picts2 {
    justify-items: center;
}

.plats-picts2>img {
    width: 230px;
}

.plats-picts2>img:hover {
    transform: scale(1.09) ;
    transition: 0.3s;
}

.plats-picts2>h2 {
    font-size: 1.7rem;
    color: #000000;
}
.plats-picts2>p {
    font-size: 0.8rem;
    color: #000000;
}



.banner3{
    background: #000000;
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.banner3-img{

    align-self: center;
    width: 300px;
}

.avatars-comments{
    align-self: center;
    justify-self: center;
}


.comments-title{
    margin-bottom: 40px;
}

.comments-title>h3{
    font-size: 1.8rem;
    color: #fff;

}

.comments-title>p{
    font-size: 0.7rem;
    color: #fff;

}


.avatar1{
    display: flex;
    margin-bottom: 25px;
}


.avatar1>img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.comments{
    align-self: center;
    color: #fff;
   
}

.comments>h6{
    font-size: 0.9rem;
}

.comments>p{
    font-size: 0.6rem;
}


.comments-button {
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 30px;
    background: #582900;
    margin: 20px;

}

.comments-button:hover{
    transform: scale(1.03) ;
    transition: 0.3s;
}

 
.comments-button>a {
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
}


/*Footer*/



footer {
    margin: 20px 0;
}

.footer-text{
    text-align: center;
}

.footer-text>h4{
    font-size: 1.7rem;
    font-weight: 800;
}

.footer-text>p{
    font-size: 0.7rem;
}

.footer-buttons{
    justify-self: center;
}

.footer-button1{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    background: #582900;
    margin: 10px;
}

.footer-button1:hover{
    transform: scale(1.03) ;
    transition: 0.3s;
}


.footer-button1>a{
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 700;
}

.footer-button2{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    background: #000000;
    margin: 10px;
}

.footer-button2:hover{
    transform: scale(1.03) ;
    transition: 0.3s;
}



.footer-button2>a{
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 700;
}



@media (max-width: 900px) {

    .plats-galerie{
    display: grid;
    grid-template-columns: 1fr;
}

.banner2{
    background: url(../images/hamburger-frites.avif) no-repeat center center / cover;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    justify-self: center;
    align-content: center;
    color: #fff;
    margin-top: 20px;
}

.banner2-text{
    align-content: center;
    padding-left: 50px;
    width: 450px;
    height: 300px;
    border-radius: 20px;
}

.banner2-text>h3 {
    font-size: 2.3rem;
}

.banner2-text>p {
    font-size: 0.6rem;
}

.banner2-button{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background: #582900;    
    position: relative;
    top: 20px;
}


.banner2-button>a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bolder;
}

.banner-text>h1{
    font-size: 2.7rem;
}

.banner-text>p {
    font-size: 0.6rem;
}


.plats-text>h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 2.3rem;
    color: #646464;
}

.plats-text>p {
    font-size: 0.6rem;
    text-align: center;
}

.cards1 {
    width: 250px;
    height: 370px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background:  linear-gradient(270deg, rgba(0, 0, 0, 0.80) 0%,  rgba(0, 0, 0, 1) 100%);
}

.cards2 {
    width: 250px;
    height: 335px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.cards2-1 {
    width: 250px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: #582900;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    
}

.image-plats {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-content: center;
    position: relative;
    right: 30px;

}

.img1{
    width: 400px;
}

.img2{
    width: 400px;
}


.banner3{
    background: #000000;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.comments-title{
    margin: 40px 20px;
}

.banner3-img{
    width: 170px;
}

.avatar1{
    display: flex;
    margin-bottom: 25px;
    margin-left: 20px;
}

footer {
    margin: 20px 0;
}

.footer-text{
    margin-top: 10px;
    text-align: center;
}

.footer-text>h4{
    font-size: 1.4rem;
    font-weight: 800;
}

.footer-text>p{
    font-size: 0.5rem;
}

.footer-buttons{
    justify-self: center;
}

.footer-button1{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    background: #582900;
    margin: 10px;
}

.footer-button1:hover{
    transform: scale(1.03) ;
    transition: 0.3s;
}


.footer-button1>a{
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 700;
}

.footer-button2{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    background: #000000;
    margin: 10px;
}

.footer-button2:hover{
    transform: scale(1.03) ;
    transition: 0.3s;
}



.footer-button2>a{
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 700;
}

.avatars-comments{
    align-self: center;
    justify-self: center;
}


.comments-title{
    margin-bottom: 40px;
}

.comments-title>h3{
    font-size: 1.6rem;
    color: #fff;

}

.comments-title>p{
    font-size: 0.5rem;
    color: #fff;

}
}

@media (max-width: 700px) {
    .banner2{
    background: url(../images/hamburger-frites.avif) no-repeat center center / cover;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    justify-self: center;
    align-content: center;
    color: #fff;
    margin-top: 20px;
}
}



@media (max-width: 540px) {
    .banner {
    background: url(../images/hamburger.avif) no-repeat center center/cover;
    width: 100%;
    height: 200px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* filter: brightness(50%); */

}



.banner-text {
    align-content: center;
    color: #ffffff;
    padding-left: 50px;
    background:  linear-gradient(270deg, rgba(217, 217, 217, 0.00) 0%,  rgba(20, 20, 20, 0.30) 47.14%,  rgba(0, 0, 0, 0.60) 100%);
    width: 100%;
    height: 200px;
}

.banner-text>h1{
    font-size: 1.4rem;
}

.banner-text>p {
    font-size: 0.5rem;
}


.banner-button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background: #582900;    
    position: relative;
    top: 10px;
}

.banner-button:hover{
transform: scale(1.03) ;
transition: 0.3s;
}


.banner-button>a {
    text-decoration: none;
    color: #fff;
    font-size: 0.6rem;
    font-weight: bolder;
}

.specialite, .plats{
    justify-items: center;
}

.specialite-text>h2 {
    margin-top: 30px;
    font-size: 1.4rem;
    color: #646464;
}

.specialite-text>p {
    font-size: 0.5rem;
    text-align: center;
}

.banner2{
    background: url(../images/hamburger-frites.avif) no-repeat center center / cover;
    width: 350px;
    height: 150px;
    border-radius: 20px;
    justify-self: center;
    align-content: center;
    color: #fff;
    margin-top: 20px;
}

.banner2-text{
    align-content: center;
    padding-left: 20px;
    background:  linear-gradient(270deg, rgba(217, 217, 217, 0.00) 0%,  rgba(20, 20, 20, 0.30) 47.14%,  rgba(0, 0, 0, 0.60) 100%);
    width: 100%;
    height: 100px;
    border-radius: 20px;
}

.banner2-text>h3 {
    font-size: 1.3rem;
}

.banner2-text>p {
    font-size: 0.3rem;
}

.banner2-button{
    width: 80px;
    height: 25px;
    border-radius: 15px;
    border: none;
    background: #582900;    
    position: relative;
    top: 5px;
}

.banner2-button:hover{
transform: scale(1.03) ;
transition: 0.3s;
}

.banner2-button>a {
    text-decoration: none;
    color: #fff;
    font-size: 0.5rem;
    font-weight: bolder;
}

.image-plats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    justify-self: center;
    align-content: center;
}

.image-plats>img{
    border-radius: 10px;
}

.image-plats>img:hover{
    transform: scale(1.02) ;
    transition: 0.3s;
}

.img1{
    width: 175px;
}

.img2{
    width: 150px;
}


.plats-text>h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 1.4rem;
    color: #646464;
}

.plats-text>p {
    font-size: 0.5rem;
    text-align: center;
}

.plats-galerie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards1 {
    width: 100px;
    height: 220px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    background:  linear-gradient(270deg, rgba(0, 0, 0, 0.80) 0%,  rgba(0, 0, 0, 1) 100%);
}

#i{
    font-size: 0.9rem;
}

.plats-picts {
    justify-items: center;
}

.plats-picts>img {
    width: 100px;
}

.plats-picts>img:hover {
    transform: scale(1.09) ;
    transition: 0.3s;
}

.plats-picts>h2 {
    font-size: 0.9rem;
    color: #fff;
}
.plats-picts>p {
    font-size: 0.4rem;
    color: #fff;
}

.compar-button {
    border: none;
    background: #582900;
    border-radius: 20px;
    width: 90px;
    height: 25px;
    margin-top: 20px;
}

.compar-button:hover{
    transform: scale(1.05) ;
    transition: 0.3s;
}



.compar-button>a {
    text-decoration: none;
    color: #fff;
    font-size: 0.5rem;
    font-weight: bold;
}

.cards2 {
    width: 100px;
    height: 200px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.cards2-1 {
    width: 100px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
    background: #582900;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    
}



.plats-picts2 {
    justify-items: center;
}

.plats-picts2>img {
    width: 100px;
}

.plats-picts2>img:hover {
    transform: scale(1.09) ;
    transition: 0.3s;
}

.plats-picts2>h2 {
    font-size: 0.9rem;
    color: #000000;
}
.plats-picts2>p {
    font-size: 0.4rem;
    color: #000000;
}



.banner3{
    background: #000000;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.banner3-img{

    align-self: center;
    width: 150px;
}

.avatars-comments{
    align-self: center;
    justify-self: center;
}


.comments-title{
    margin-bottom: 40px;
}

.comments-title>h3{
    font-size: 1rem;
    color: #fff;

}

.comments-title>p{
    font-size: 0.4rem;
    color: #fff;

}


.avatar1{
    display: flex;
    margin-bottom: 25px;
}


.avatar1>img{
    width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.comments{
    align-self: center;
    color: #fff;
   
}

.comments>h6{
    font-size: 0.6rem;
}

.comments>p{
    font-size: 0.3rem;
}


.comments-button {
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    background: #582900;
    position: relative;
    bottom: 25px;
}

.comments-button:hover{
    transform: scale(1.03) ;
    transition: 0.3s;
}

 
.comments-button>a {
    text-decoration: none;
    color: #ffff;
    font-size: 0.6rem;
    font-weight: 600;
}


/*Footer*/



footer {
    margin: 20px 0;
}

.footer-text{
    text-align: center;
}

.footer-text>h4{
    font-size: 1.4rem;
    font-weight: 800;
}

.footer-text>p{
    font-size: 0.5rem;
}

.footer-buttons{
    justify-self: center;
}

.footer-button1{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    background: #582900;
    margin: 10px;
}

.footer-button1:hover{
    transform: scale(1.03) ;
    transition: 0.3s;
}


.footer-button1>a{
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 700;
}

.footer-button2{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    background: #000000;
    margin: 10px;
}

.footer-button2:hover{
    transform: scale(1.03) ;
    transition: 0.3s;
}



.footer-button2>a{
    text-decoration: none;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 700;
}
}